

a.navbar-brand img{
    width: 180px;
}

.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


ul.navbar-nav li a {
    font-size: 12pt;
    text-transform: none;
    font-weight: 500;
    margin-left: 20px;
}

.content-mobile {
    display: none;
}

header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.49);
}

a.btn-header-login {
    margin-top: 5px;
    border-radius: 5px;
}

div.banner-homepage{
    background-image: url("../img/Landing-Page-Photo-JPG.jpg");
    height: 500px;
    width: 100%;
}



.offer-img img{
    width: 450px;
}

a.btn-menu {
    margin-top: 25px;
    height: auto;
    padding: 0px 20px 0px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    margin-right: 10px;
}

a.btn-menu img {
    width: 50px;
}

a.btn-menu span{
    font-size: 12pt;
    padding: 10px;
    font-weight: 700;
}

a.btn-menu:hover{
    background-color: #f3f3f3;
}

.card-fitur {
    border: none;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.row-fitur .img-fitur {
    width: 120px;
    margin-top: 15px;
    margin-right: 10px;
}

.row-fitur .text-fitur h4{
    font-size: 11pt;
    font-weight: 600;
}

.row-fitur .text-fitur p{
    font-size:10pt;
}

.special-fitur {
    width: 100%;
    background-size: 100% auto;
    padding-left: 30%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.special-fitur .text-spesial-fitur {
    padding: 25px;
}

.special-fitur .text-spesial-fitur h2 {
    font-size: 22pt;
    color: #fff;
    font-weight: 600;
}

.special-fitur .text-spesial-fitur p {
    color: #fff;
    font-size: 11pt;
}

img.img-kategori {
    width: 100%;
}

.text-kategori-1{
    padding: 10px;
    text-align: center;
    margin-top: -50px
}

.text-kategori-1 p {
    font-size: 12pt;
    font-weight: 600;
    color: #fff;
    word-break: break-all;
    white-space: normal;
}

.row-space-sm, .row-space-2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

a.link-kategori img:hover {
    transform: scale(1.03);
}


.row-space-sm .col-space-sm {
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.row-space-2 .col-space-sm {
    padding-right: 2.5px;
    padding-left: 2.5px;
    margin-bottom: 5px;
}

img.koin-kat{
    width: 60px;
}

.card .kategori-harga {
    padding: 15px !important;
}

.kategori-harga span{
    font-size: 12pt;
    font-weight: 700;
    margin-left: 15px;
}

.kategori-harga span.mobile{
    display: none;
}

a.link-kategori .card {
    border: none !important;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
}

.drawer-hamburger {
    margin-top: -60px;
    margin-right: 15px;
}

.drawer--right.drawer-open .drawer-hamburger{
    display:none;
}

.drawer--right .drawer-hamburger, 
.drawer--right.drawer-open .drawer-nav, 
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger{
    top:70px;
}

.btn-menu-login {
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
}

ol.breadcrumb{
    background-color: #fff;
    padding: 0;
    margin-bottom: 50px;
}

.product-description-review h5.title,
.product-area h5.title {
    color: #000;
    font-weight: 700;
    font-size: 24pt;
}

input[type=number].cart-plus-minus-box::-webkit-inner-spin-button, 
input[type=number].cart-plus-minus-box::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.review-content{
    margin-top: 10px;
    margin-bottom: 25px;
}

.review-content .score {
    float: left;
    background-color: rgb(71, 71, 71);
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20pt;
    border-radius: 5px;
    margin-right: 20px;
}
.review-content .content {
    font-size: 12pt;
    margin-top: -5px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: solid 1px #f3f3f3;
} 

.your-order h3{
    text-transform: none;
    font-weight: 600;
}

.your-order-table table th, .your-order-table table td {
    text-align: left;
}

.title-hore {
    border-bottom: solid 1px #f3f3f3;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

span.no-pesanan{
    font-size: 20pt;
    font-weight: 700;
    margin-left: 15px;
}

/* Step */
.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
  }
  .StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
  }
  .StepProgress-item {
    position: relative;
    counter-increment: list;
  }
  .StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }
  .StepProgress-item::after {
    content: counter(list);
    display: inline-block;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    top: 0;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
  }
  .StepProgress-item.is-done::before {
    border-left: 2px solid 	#5cb85c;
  }
  .StepProgress-item.is-done::after {
    content: "✔";
    font-size: 15px;
    color: #FFF;
    text-align: center;
    border: 2px solid 	#5cb85c;
    background-color: 	#5cb85c;
    width: 30px;
    height: 30px;
    padding-top: 2px;
  }
  .StepProgress-item.current::before {
    border-left: 2px solid 	#5cb85c;
  }
  .StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 18px;
    top: 0;
    left: -45px;
    font-size: 14px;
    text-align: center;
    color: 	#5cb85c;
    border: 2px solid 	#5cb85c;
    background-color: white;
    width: 30px;
    height: 30px;
    padding-top: 3px;
  }
  .StepProgress strong {
    display: block;
    font-size: 14pt;
    font-weight: 600;
  }

/* Login Form */
body.login-style{
    background-image: url('/assets/img/bg-login.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-form{
    width: 650px;
    height: 100%;
    background-color: #fff;
    right: 0;
    position: fixed;
    padding: 20px;
    padding-left: 100px;
    padding-right: 120px;
}

.login-form h1{
    font-size: 20pt;
    padding-top: 30%;
    font-weight: 600;
    padding-bottom: 20px;
}

a.btn-login-form {
    width: 100%;
    text-align: left;
    height: 45px;
    font-size: 12pt;
    padding: 7px;
    padding-left: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
}

a.btn-google {
    background-color: #DB4437;
    color: #fff;
}

a.btn-email{
    background-color: #fff;
    cursor: pointer;
}

.login-email button.btn-dark,
.signup button.btn-dark{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.signup hr {
    margin-top: 30px;
}
.signup p {
    text-align: center;
    margin-top: -73px;
    background-color: #fff;
    width: 60px;
    margin-left: 42%;
    margin-bottom: 20px;
}

.login-email h1 a{
    font-size: 16pt;
}

h3.title-mb {
    color: #000 !important;
    text-align: left;
    font-family: inherit !important;
    font-size: 16pt;
    margin-bottom: 12px;
}

@media screen and (max-width: 480px){
    .content-desktop{
        display: none !important;
    }
    .content-mobile{
        display: block;
    }
    .offer-details-wrapper > h2 {
        font-size: 32px;
    }
    .menu-no-wrap{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
        height: 100px;
    }
    .offer-img img {
        width: 110%;
        margin-top: -120px;
        margin-left: -20px;
    }

    .special-fitur {
        padding-left: 30%;
        padding-right: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 20px;
    }
    
    .special-fitur .text-spesial-fitur {
        padding: 2px;
    }
    
    .special-fitur .text-spesial-fitur h2 {
        font-size: 15pt;
        color: #fff;
        font-weight: 600;
    }
    
    .special-fitur .text-spesial-fitur p {
        color: #fff;
        font-size: 8pt;
        line-height: normal;
    }
    
    img.koin-kat{
        width: 40px;
    }

    .kategori-harga span{
        display: none;
    }

    .kategori-harga span.mobile{
        display: inline;
        font-size: 10pt;
        margin-left: 0;
    }

    .text-kategori-1 p {
        font-size: 10pt;
        line-height: 15px;
    }

    .text-kategori-1{
        padding: 5px;
        margin-top: -30px
    }

    h1.title-hore{
        margin-top:30px;
    }

    .order-button-payment{
        position:fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 9999;
    }
    .login-form{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
    }

    .login-form img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .login-form h1{
        font-size: 14pt;
    }
    .menu-dasbor{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #FFF;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
    }

    .menu-dasbor .col {
        display: inline-table;
        text-align: center;
    }
    .menu-dasbor .col i {
        font-size: 14pt;
    }
    .menu-dasbor .col p {
        text-transform: uppercase;
        font-size: 6pt;
        margin-top: 7px;
        margin-bottom: 0;
        line-height: 0;
    }

    .card-mb-1 {
        padding: 15px;
    }
}
